<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/hamburgers/1.2.1/hamburgers.css">
    <link href="dist/hamburgers.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/admin.css">
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js" defer></script>
    <script src="/js/dashboard.js" defer></script>
    <script src="/js/alertas.js" defer></script>  
    <title>Administración | Crear</title>
</head>
<body>
    <div class="dashboard">
        
        <aside th:insert="ThHtmls/partesComunes :: menuAdmin"></aside> 
    
        <div class="principal">
            <div class="barra-mobile">
                <h1>Music Town</h1>
                <div class="menu">
                    <img src="/img/menu.svg" alt="img menu" id="mobile-menu">
                </div>
            </div>
            
            <div class="barra">
                <p>Hola: <span>Admin </span></p>
            
                <a href="/logout" class="cerrar-sesion">Cerrar Sesión</a>
            </div>
    
            <div class="contenedor">
                <section class="contenedorS">
                    <h2 class="h2">Agregar Nuevo Instrumento</h2>
        
                    <div th:if="${error}!=null" class="card">
                        <div class="card-body">
                            <p class="error" th:text="${error}"></p>
                        </div>
                    </div> 
        
        
                    <form class="contact-form" th:action="@{/admin/guardarProducto}" method="POST" enctype="multipart/form-data">
                        <fieldset class="fieldset">
                            <div class="contenedorDiv">
                                <div class="campo">
                                    <label for="">Nombre:</label>
                                    <input
                                        class="input" 
                                        type="text" 
                                        name="nombreProducto"  
                                        placeholder="Nombre del instrumento"
                                        title="El nombre no puede contener mas de 20 caracteres y solo letras y numeros"        
                                        pattern="^[A-Za-z0-9ÑñÁáÉéÍíÓóÚúÜü]{3,20}$" 
                                        required
                                        spellcheck="false"
                                        autocomplete="off"
                                    />
                                </div>
                                  <div class="campo">
                                    <label for="">Marca:</label>
                                    <input
                                        class="input" 
                                        type="text" 
                                        name="marcaProducto"  
                                        placeholder="Marca del Instrumento"
                                        title="La marca del producto sólo puede contener letras"
                                        pattern="^[A-Za-zÑñÁáÉéÍíÓóÚúÜü\s]+$" 
                                        required
                                        spellcheck="false"
                                        autocomplete="off"
                                    />
                                </div>
                                <div class="campo">
                                    <label for="">Precio:</label>
                                    <input
                                        class="input" 
                                        type="number" 
                                        name="precioProducto" 
                                        placeholder="Precio del instrumento"
                                        min="1" 
                                        required
                                    />
                                </div>
                                <div class="campo">
                                    <label for="">Imagen:</label>
                                    <input 
                                        type="file" 
                                        name="fotoProducto"
                                        multiple
                                        class="imagen"
                                        required
                                    /> 
                                </div>
                                <div class="campo">
                                    <label for="">Unidades:</label>
                                    <input 
                                        type="number" 
                                        name="cantidadProducto" 
                                        class="unidades input" 
                                        placeholder="Cantidad de unidades"
                                        min="0"
                                        required
                                    />
                                </div>
                            </div>
                            <div class="boton">
                                <input type="submit" class="btnPrincipal" value="Crear Instrumento">
                            </div>
                        </fieldset>
                    </form>
                </section>
                <div class="boton">
                    <a href="/admin" class="btnVolver" >< Volver</a>
                </div>
            </div>
    </div>
</body>
</html>