<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/hamburgers/1.2.1/hamburgers.css">
    <link href="dist/hamburgers.css" rel="stylesheet">
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js" defer></script>
    <script src="/js/dashboard.js" defer></script>
    <script src="/js/alertas.js" defer></script>
    <link rel="stylesheet" href="/css/admin.css">

    <title>Administración</title>
</head>
<body>
    <div class="dashboard">
        
        <aside th:insert="ThHtmls/partesComunes :: menuAdmin"></aside> 
    
        <div class="principal">
            <div class="barra-mobile">
                <a th:href="@{/}"><h1>Music Town</h1></a>
                <div class="menu">
                    <img src="/assets/img/menu.svg" alt="img menu" id="mobile-menu">
                </div>
            </div>
            
            <div class="barra">
                <p>Hola: <span>Admin </span></p>
            
                <a href="/logout" class="cerrar-sesion">Cerrar Sesión</a>
            </div>
    
            <div class="contenido">
                <h2 class="nombre-pagina">Administración Instrumentos</h2>
                
                <a href="/admin/crearInstrumento" class="btn">Nuevo Instrumento</a>


                <table class="usuarios">
                    <thead>
                        <tr> 
                            <th>Nombre</th>
                            <th>Imagen</th>
                            <th>Precio</th>
                            <th>Acciones</th>
                        </tr>  
                    </thead>
                  
                    <tbody> <!-- Mostrar Resultados  -->
                        <tr:block th:each="producto : ${listarProductos}">
                            <td th:text="${producto.nombreProducto}"></td>
                            <td class="container-img"><img th:src="@{/foto/mostrarFoto/} + ${producto.getFotoProducto().iterator().next().getId()}" class="imagen-tabla"></td>
                            <td th:text="${producto.precioProducto}"></td>
                            <td>
                                <a th:href="@{/admin/darDebaja/}+${producto.IdProducto}" class="btn elim">Eliminar</a>
                                <a th:href="@{/admin/actualizar/}+${producto.IdProducto}" class="btn act">Actualizar</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <script src="/js/dashboard.js"></script>
</body>
</html>