:root {
  --main-font: 'Montserrat', sans-serif;
  --title-font: 'Shrikhand', cursive;
  --font-size: 16px;
  --main-color: #f9d29d;
  --gray-color: #4d4d4d;
  --second-color: #353435;
  --container-width: 1200px;
  --form-ok-color: #4caf50;
  --form-error-color: #ff1100c2;
}

.logo {
    min-height: 8rem;
    max-height: 8rem;
    max-width: 10rem;
  }
  
tbody{
    display: flex;
    padding: auto;
    flex-direction: column;
    align-items: center;
    width: 95%;
}
tfoot{
    position: relative;
    margin: 2% auto;
    padding: auto;
    width: auto;

}

.Indice {
    background-color: rgb(243, 243, 243); 
    left: 1%;
    display: flex;
    flex-flow: wrap;
    padding: 5px;
    margin-bottom: 1em;
    position: relative;
    min-height: 100px;
    border-radius: 4px;
    transform: translate(1rem, 1rem);
    height: 100%;
    width: 95%;
    box-shadow: inset 0px 0px 10px 5px #9d9e9def;
}

.ProductoUno {
    DISPLAY: flex;
    width: 95%;
}
.product-thumbnail {
    margin: auto;
}

.product-name {
    margin: auto;
}

.product-quantity {
    margin: auto;
}

.stepper {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;

    /* Border */


    /* Size */
    height: 32px;
    width: 128px;
}

.stepper__button {
    /* Center the content */
    align-items: center;
    display: flex;
    justify-content: center;
    
    /* Size */
    width: 32px;
}

.stepper__content {
    flex: 1;
    font: sans serif;
    size: 12em;
    text-align: center;
}

.stepper__input {
    /* Take full size of its container */
    height: 100%;
    width: 100%;
}

.product-price {
   margin: auto;
}


.button-remove {
    margin: 200% auto;
    height: 32px;
    width: 32px;
    border: none;
    padding: auto;
}

.order-total{
    right: 100%;
    padding: 10px;
    border: 1px solid grey;
    background-color: rgb(243, 243, 243);
    box-shadow: inset 0px 0px 5px 2px #9d9e9def;
    border-left: 10px solid #fd1a1a;
    width: 240px;
    border-radius: 5px;
}


.buttonClass {
    font-size: 20px;
    border: none;
    font-family: sans-serif;
    text-decoration: none;
    font-weight: bold;
} 
.td-total{
    padding-right:18px;
   
}


.imagen {
    margin: 0; 
    object-fit: cover;
    min-width: 300px;
    max-width: 300px;
    min-height: 200px;
    max-height: 200px;
}

.btnCarrito {
    padding: 1rem 3rem;
    background-color: #4d4d4d;
    outline: none;
    border: none;
    cursor: pointer;
    color: #fff;
}