/* GLOBALES */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
:root {
  --main-font: 'Montserrat', sans-serif;
  --title-font: 'Shrikhand', cursive;
  --font-size: 16px;
  --main-color: #f9d29d;
  --gray-color: #4d4d4d;
  --second-color: #353435;
  --container-width: 1200px;
  --form-ok-color: #4caf50;
  --form-error-color: #ff1100c2;
}
html {
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-padding-top: 0rem;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

::-webkit-scrollbar{
  width: .8rem;
  border-radius: .5rem;
  background-color: #c08128;
}
::-webkit-scrollbar-track {
  background: #161615;
}
::-webkit-scrollbar-thumb{
  background-color: #c0812a;
  border-radius: .5rem;
  height: .5rem;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #c78d3d;
}
body {
  font-family: var(--main-font);
  font-size: 1.6rem;
  margin: 0;
  background-image: url('/assets/img/bc7.png');
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 90;
}
p {
  font-size: 2rem;
  color: #000;
  line-height: 1.5;
}
.contenedor {
  width: 95%;
  max-width: 120rem;
  margin: 0 auto;
}
a {
  text-decoration: none;
}
h1,
h2,
h3 {
  margin: 0 0 5rem 0;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.6rem;
}
h3 {
  font-size: 3rem;
}
img {
  max-width: 100%;
  width: 100%;
  height: auto;
  display: block;
  margin: 0;
}

/* <=========== HEADER ==========> */

    
          
            
    

          
    
    
  
.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  background-color: #fff;
}
.hamburger.is-active .hamburger-inner, .hamburger.is-active .hamburger-inner::before, .hamburger.is-active .hamburger-inner::after {
  background-color: #fff;
}
.header {
  /* background-color: #f9d29d; */
  background-color: #2b2b2b;
  height: 80px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.136);
  z-index: 999;
}
.header .logo {
  min-height: 8rem;
  max-height: 8rem;
  max-width: 10rem;
}
.nav {
  display: flex;
  justify-content: space-between;
  min-width: 992px;
  margin: 0 auto;
  max-height: 80px;
  background-color: #2b2b2b;
}
.nav .title {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav .title h1 {
  margin: 0;
  font-size: 4.5rem;
  color: #fff;
  font-family: var(--title-font) ;
  font-weight: 700;
  /* background: linear-gradient(to right, #3c3c3c, #b57c22, #dd7f0f);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent; */
}
.nav-menu {
  display: flex;
  margin-right: 20px;
  list-style: none;
  justify-content: center;
  align-items: center;
}
.nav-menu-item {
  font-size: 18px;
  line-height: 80px;
  width: max-content;
}
.nav-menu-link {
  padding: 8px 12px;
  border-radius: 3px;
  transition: 0.4s;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-family: var(--main-font);
  font-weight: 500;
}
.nav-menu-link:hover {
  color: var(--main-color);
  /* background-color: #ffc671; */
}
.nav-link {
  color: var(--second-color);
  color: #fff;
  text-decoration: none;
}
.nav-toggle {
  background: none;
  border: none;
  outline: none;
  padding: 0 20px;
  line-height: 60px;
  cursor: pointer;
  display: none;
}
.carrito {
  font-size: 2rem;
}
/* <=========== CARRUSEL ==========> */
/* Mensaje de exito */
.card {
  display: flex;
  padding: 1rem 3rem;
  text-transform: uppercase;
  margin: 0 auto;
  max-width: 50rem;
  height: 7rem;
  z-index: 2;
  position:relative;
  justify-content: space-around;
  transition: height .4s;
}
.exito {
  margin: auto 0;
  background-color: rgba(0, 180, 57, 0.5);
  font-weight: 800;
  font-size: 1.5rem;
  border-left: .4rem solid rgb(0, 244, 89);
  color: rgb(0, 244, 89);
}
.contenedor-boton{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #009;
}
/*Fin mensaje exito*/
.carrusel {
  padding-top: 80px;
}
.slider {
  position: relative;
  width: 100%;
  /* border: thin solid black; */
  text-align: center;
}
.slider-slides {
  position: relative;
  height: 500px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.136);
}
.slider-slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s ease;
}
.slider-slide img {
  height: inherit;
  width: inherit;
  object-fit: cover;
  object-position: 50% 0%;
}
.slider-slide.active {
  opacity: 1;
  visibility: visible;
}
.slider-btns {
  position: absolute;
  width: 100%;
  top: calc(50% - 2rem);
  display: flex;
  justify-content: space-between;
  font-size: 3rem;
  font-weight: bold;
}
.slider a {
  display: block;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  text-decoration: none;
  color: #fff;
  transition: all 0.3s ease;
  font-size: 4rem;
}
.slider a:hover {
  color: var(--main-color);
}
/* <=========== GALLERIA CATALOGO ==========> */
.cabecera{
  text-align: center;
  padding-top: 5rem;
  margin: 0;
  font-size: 3rem;
  color: #1d1d1d;
  text-transform: uppercase;
  font-family: var(--title-font);
}
.gallery {
  width: 100%;
  padding: 5rem;
  height: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.container-img {
  width: 100%;
  max-width: 1200px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 250px;
  grid-gap: 20px;
  margin: 0 auto;
}
.container-img .box-img {
  position: relative;
  cursor: pointer;
  overflow: hidden;
  box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.317);
} 
.container-img .box-img img {
  width: 100%;
  margin: 0;
  height: calc(100% - 5rem);
  object-fit: cover;
  filter: brightness(1);
  transition: .4s;
}
.container-img .box-img img:hover {
  filter: brightness(.4);
}
.descripcion {
  padding: 1rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--second-color);
  color: #fff;
  font-weight: 500;
  margin: 0;
  text-transform: uppercase;
}
.container-img .box-img:nth-child(1) {
  grid-column-start: span 2;
}
.container-img .box-img:nth-child(4) {
  grid-row-start: span 2;
}
/* <=========== CONTACTO ==========> */
.contact-form {
  padding-top: 5rem;
}
.contact__container {
  grid-template-columns: repeat(1, 1fr);
  row-gap: 3rem;
  padding-bottom: 3rem;
  justify-content: center;
  max-width: 95%;
}
.contact__title {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 1.5rem;
  color: #ddd;
}
.contact__form {
  width: 800px;
  margin: 0 auto;
  padding: 2rem;
}
.contact__form-div {
  position: relative;
  margin-bottom: 2rem;
  height: 4.5rem;
  padding: 3rem;
}
    
.contact__form-input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid #623900;
  background: none;
  color: rgb(32, 32, 32);
  outline: none;
  padding: 2.5rem 1.5rem 1.5rem 1.5rem;
  border-radius: .5rem;
  z-index: 1;
  font-size: 1.6rem;
}
/* .contact__form-input:last-of-type {
  padding-top: 2.5rem;
} */
.contact__form-input::placeholder {
  color: rgb(32, 32, 32);
}
.contact__form-tag {
  position: absolute;
  top: -.75rem;
  left: 1.2rem;
  font-size: 1.5rem;
  padding: .28rem;
  background-color: #623900;
  z-index: 10;
  border-radius: .5rem;
  color: rgb(255, 237, 212);
}
  
.contact__form-area {
  height: 11rem;
}
textarea {
  resize: none;
  font-family: var(--main-font);
}
.button {
  display: inline-block;
  background-color: #623900;
  color: #ddd;
  padding: 1rem 5rem;
  border-radius: .2rem;
  transition: .4s;
  border: none;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.080);
  font-weight: 600;
  font-family: var(--main-font);
}
.button:hover {
  background-color: #ffd190;
  color: #151515;
}
/* 
.contact-form [required]:valid {
  border: thin solid var(--form-ok-color);
}
.contact-form [required]:invalid {
  border: thin solid var(--form-error-color);
} */
.contact-form-error {
  /* margin-top: -1rem; */
  padding: 1rem .5rem;
  font-size: 80%;
  background-color: var(--form-error-color);
  color: #fff;
  transition: all 800ms ease;
  border-radius: 5px;
}
.contact-form-error.is-active {
  display: block;
  animation: show-message .8s 1 normal .0s ease-in-out both;
}
.none {
  display: none;
}
@keyframes show-message {
  0% {
    visibility: hidden;
    opacity: 0;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}
/* <=========== FOOTER ==========> */
.site-footer {
  background-color: #f9d29d;
  max-height: 20rem;
  padding: 2rem;
}
.site-footer p {
  text-align: center;
}
.main-footer {
  margin-top: 5rem;
  background-color: #2b2b2b;
  color: white;
  padding: 30px 20px;
  padding-left: 10rem;
  padding-right: 10rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-template-rows: auto;
  gap: 2rem;
}
.footersection {
  max-width: 50rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.footerseccion {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.footersection h4 {
  margin: 0;
}
.footersection .logo {
  max-width:100px;
  border-radius: 48%;
  align-self: center;
}
.columns {
  display: flex;
  flex-direction: row;
}
.footertitle{
  padding-bottom: 1rem;
  font-size: 2rem;
}
.footertxt p {
  color: #fff;
  font-size: 1.5rem;
  transition: .4s;
  max-width: 300px;
  text-align: left;
}
.enlaces {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  font-size: 1.5rem;
}
.enlaces a {
  font-size: 3rem;
  color: #fff;
}
.enlaces a:hover {
  color: var(--main-color);
}
.footerlink{
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 10px 0;
  font-size: 1.8rem;
  transition: .4s;
}
.footerlink:hover {
  color: var(--main-color);
}
.copy {
  color: #fff;
  font-size: 1.5rem;
  background-color: #2b2b2b;
  padding-top: 2rem;
  padding-bottom: 3rem;
  margin: 0;
  text-align: center;
  border-top: 2px solid #353435;
}
.btn {
  background-color: var(--second-color);
  outline: none;
  border: none;
  padding: .5rem 1.5rem;
  margin-top: 1rem;
  color: #fff;
  font-weight: bold;
  font-size: 1.5rem;
  border-radius: 5px;
}
/* <=========== MEDIA QUERYS ==========> */
@media (max-width: 928px) {
  /* Navegacion */
  .header {
    height: 70px;
  }
  .nav {
    max-height: 70px;
    min-width: auto;
  }
  .nav .logo {
    min-height: 6rem;
    max-width: 7rem;
    margin: 0;
  }
  .nav .title {
    display: none;
  }
  .nav-menu-item {
    line-height: 70px;
  }
  /* Carrusel */
  .carrusel {
    padding-top: 60px;
  }
  .contact__form {
    width: 600px;
  }
}
@media (max-width:800px) {
  .container-img {
    width: 95%;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 10px;
    grid-template-rows: repeat(200px);
  }
  .container-img .box-img:nth-child(1) {
    grid-column-start: span 1;
  }
  .contact__form {
    width: 500px;
  }
}
@media (max-width: 720px) {
  /* Header */
  .nav .title {
    display: none;
  }
  .nav-toggle {
    display: block;
    font-size: 3rem;
  }
  .nav-menu {
    flex-direction: column;
    align-items: center;
    margin: 0;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.863);
    left: 0;
    top: 70px;
    width: 100%;
    padding: 0;
    height: calc(100% - 70px);
    gap: 4rem;
    overflow-y: auto;
    left: 100%;
    transition: left 0.4s;
  }
  .nav-menu-link {
    padding: 8px 12px;
    border-radius: 3px;
    transition: 0.4s;
    font-size: 2rem;
    color: #fff;
  }
  .nav-menu-link:hover,
  .nav-menu-link_active {
    color: #ffc671;
    background: none;
  }
  .nav-menu_visible {
    left: 0;
  }
  .main-footer {
    padding: 30px 20px;
  }
  .contact__form {
    width: 100%;
  }
  .contact__container {
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    column-gap: 3rem; 
    margin: 0;
  }
  .button {
    padding: 1rem 8rem;
  }
}
@media (max-width: 500px) {
  .container-img {
    /* width: 100%; */
    grid-template-columns: repeat(1,1fr);
  }
}